<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/styles.css">
</head>
<body>
  <header>
    <ul class="mobile-hidden">
      <li>Home</li>
      <li>crepas</li>
      <li>pasteles</li>
      <li>cafes</li>
    </ul>
    <button class="mobile-show sidenav-button">Open</button>
  </header>
  <section class="sidenav sidenav-hidden">
    <h2 class="sidenav-x">x</h2>
    <ul>
      <li>Home</li>
      <li>crepas</li>
      <li>pasteles</li>
      <li>cafes</li>
    </ul>
  </section>
  <section>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
  </section>
  <script src="assets/scripts.js"></script>
</body>
</html>
