* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: starjedi;
  src: url('fonts/starjedi.ttf');
}

:root {
  --black-color: #000;;
  --white-color: #eee;

  --header-height: 100px;
}

body {
  font-family: starjedi;
}

/* Header */
.header {
  background-color: var(--black-color);
  box-sizing: border-box;
  height: var(--header-height);
  padding: 10px 0;
}

.header__picture {
  display: block;
  height: 100%;
  text-align: center;
}

.header__image {
  height: 100%;
}

/* Section */
.section {
  background-image: radial-gradient(transparent, black), url('img/landing-page/landing-background.jpg');
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - var(--header-height));
}

.section__title {
  color: var(--white-color);
  font-size: 60px;
  text-align: center;
  padding-top: 10px;
}

.section__container {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

/* Cards */
.section__card {
  align-items: center;
  background-size: cover;
  background-color: var(--black-color);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--white-color);
  display: flex;
  height: 300px;
  justify-content: center;
  font-size: 25px;
  text-decoration: none;
  transition: all .4s;
  width: 400px;
}

.section__card:hover {
  font-size: 20px;
  padding-right: 140px;
}

.player:hover {
  background-image: url('img/lightsaber_tie_result.jpg');
}

.computer:hover {
  background-image: url('img/landing-page/landing-obi.jpg');
}

.footer__text {
  color: var(--white-color);
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
}

.label__card {
  border-radius: 4px;
  display: block;
  width: 300px;
}

.label__card img {
  width: 100%;
}

#tijeras {
  display: none;
}

form {
  display: none;
}

form.active {
  display: block;
}

.winner {
  display: none;
}

.winner.active {
  display: block;
}

@media screen and (max-width: 800px) {
  .section__title {
    font-size: 35px;
  }

  .section__card {
    width: 300px;
  }

  .player {
    background-image: url('img/lightsaber_tie_result.jpg');
    background-position: center;
  }

  .computer {
    background-image: url('img/landing-page/landing-obi.jpg');
    background-position: center;
  }
}

@media screen and (max-width: 450px) {

  .section__container {
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

  .section__card {
    margin: 20px 0;
  }
}
