html {
  font-size: 5px;
}

body {
  background-color: #2F3744;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 30rem;
  position: fixed;
  top: 6rem;
  left: 6rem;
  margin: 0;
  font-weight: 400;
  background: -webkit-linear-gradient(#EEEEEE, #FFFFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50rem 20rem 20rem 20rem;
}

.card {
  background-color: #fff;
  border-radius: 2rem;
  position: relative;
  min-width: 40rem;
  min-height: 10rem;
  padding-bottom: 4rem;
  padding-left: 3rem;
  margin-bottom: 40rem;
  padding-top: 14rem;
}

.card__image {
  position: absolute;
  top: -26rem;
  height: 34rem;
  margin-bottom: 4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.card__title {
  display: block;
  color: #101318;
  font-size: 16px;
  opacity: .7;
  font-weight: 700;
}

.card__info {
  display: block;
  color: #10131880;
}

.SuperSmashBros .card__title {
  color: #D63935;
}

.SuperSmashBros {
  order: 0;
}

.bitMario .card__title {
  color: #AC884D;
}

.bitMario {
  order: 1;
}

.YoshisWoollyWorld .card__title {
  color: #EA567E;
}

.YoshisWoollyWorld {
  order: 2;
}

.SuperMarioBros .card__title {
  color: #92C24C;
}

.SuperMarioBros {
  order: 3;
}

.Skylanders .card__title {
  color: #C1BFBD;
}

.Skylanders {
  order: 4;
}

.LegendOfZelda .card__title {
  color: #DFC632;
}

.LegendOfZelda {
  order: 5;
}

.AnimalCrossing .card__title {
  color: #A15525;
}

.AnimalCrossing {
  order: 6;
}
