<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <section class="carrousel">
    <article class="carrousel__container">
      <button class=" carrousel__button preview"><</button>

      <picture class="active carrousel__picture perrito1" data-position="0">
        <h2>Este es un texto de perrito</h2>
      </picture>
      <picture class="carrousel__picture perrito2" data-position="1"></picture>
      <picture class="carrousel__picture perrito3" data-position="2"></picture>

      <button class="carrousel__button next">></button>
    </article>
  </section>





  <script src="scripts.js"></script>
</body>
</html>
